@model IEnumerable<Registar.Models.Bike>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage.cshtml";
}

<h2>View Body</h2>
<br />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegisterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
        </tr>
    }

</table>